<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909447075213-mv60nmrdk3annad2c4dr59m5fi0m1igu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909447075213-mv60nmrdk3annad2c4dr59m5fi0m1igu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909447075213-jonmft898ptugsvf2grpqppgtv867jno.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIj090icUwHQ2uxkMplG6GoFYsNLCQIJk</string>
	<key>GCM_SENDER_ID</key>
	<string>909447075213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAdminpanel1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pfeomar-22</string>
	<key>STORAGE_BUCKET</key>
	<string>pfeomar-22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909447075213:ios:e47df654e4cf0ba3a799c4</string>
</dict>
</plist>